.personal{
  width: 100%;
  height: max-content;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
  background-color: var(--Strong-Cyan);
}
.personal a{
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  padding: 2rem 2rem;

  transition-property: color;
  transition-duration: 1.5s;
}
.personal a:hover{
  color: var(--Contrast-Blue);
}
.initial{
  padding-top: 10rem;
  margin-bottom: 10rem;
  text-align: center;
  background-image: url("./images/bg-header-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.initial .logo-top {
  margin-bottom: 4rem;
}
.initial button{
  width: 15rem;
  height: 4rem;
  /* border: none; */
  border-radius: 2rem;
  margin: 0 .5rem;
  color: white;
  font-family: 'Bai Jamjuree', sans-serif;

  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: .4rem solid;
}
.initial .ios{
  border-color: var(--Sh-Strong-Cyan);
  box-shadow: 0 0rem 1rem .5rem var(--Lg-Strong-Cyan);
  background-color: var(--Strong-Cyan);
}
.initial .Mac{
  border-color: var(--Sh-Light-Blue);
  box-shadow: 0 0rem 1rem .5rem var(--Lg-Light-Blue);
  background-color: var(--Light-Blue);
}
.keep{
  text-align: center;
  margin-bottom: 10rem;
}
.mac-part{
  display: flex;
  flex-wrap: wrap;
}
.mac-part img{
  position: relative;
  left: -3rem;
  min-width: 5rem;
}
.mac-topics{
  display: flex;
  align-items: center;
}
.mac-topics div{
  line-height: 3rem;
}